body{
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    box-sizing: border-box;
}
.container{
    width:80%;
    overflow: hidden;
    margin:0 auto;
}
.row1{
    width:100%;
    height:50px;
    background-color: blue;
    font-size:35px;
    line-height: 50px;
    font-weight: bold;
    text-indent: 20px;
}
.row2{
    background-image: url('https://jooinn.com/images/peaceful-nature-4.jpg');
    height:100px;
    text-indent: 20px;
    font-size: 60px;
    font-weight: bold;
    color: white;    
}
.row3{

}
.row3-left{
    width:70%;
    float: left;
}
.row3-right{
    width:30%;
    float: right;
    padding:10px;
}
.code{
    background: black;
    color:white;
    padding:10px;
}
.block{
    padding:10px;
    border-left:5px solid #ccc;
    margin-top:20px;
    font-style: italic;
}
.row3-right .box{
    width:100%;
    background: lightblue;
    padding:10px;
}
.row3-right .box ul{
    margin:0px;
    padding:0px;
    list-style: none;
}
.row3-right .box ul li{
    padding:15px;
}
.active{
    background: darkcyan;
}
.row3-right a{
    display: block;
    color:blue;
    padding:5px;
}